header.ejercicio1 h1 {
    background-color: rgb(24, 21, 21);
    color: white;
    padding: 10px;
    margin: 0;
}

header.ejercicio1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.ejercicio1 nav {
    background-color: grey;
    margin: 0;
}

header.ejercicio1 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header.ejercicio1 li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
}

header.ejercicio1 li a:hover {
    color: white;
    background: black;
}

header.ejercicio2 nav ul {
    justify-content: center;
}

header.ejercicio3 nav ul {
    justify-content: space-between;
}

header.ejercicio4 nav ul {
    flex-direction: column;
}

header.ejercicio4 nav {
    max-width: 200px;
}

header.ejercicio5 h1 {
    background-color: rgb(24, 21, 21);
    color: white;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
}

header.ejercicio5 .imgcontainer {
    display: flex;
    justify-content: start;
    background-color: rgb(175, 174, 174);
}

header.ejercicio5 .imgcontainer img {
    max-width: 100px;
    height: 100px;
    border: 2px dashed black;
}

header.ejercicio6 h1 {
    background-color: rgb(24, 21, 21);
    color: white;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
}

header.ejercicio6 .imgcontainer {
    display: flex;
    justify-content: start;
    background-color: rgb(175, 174, 174);
    padding: 10px 5px;
    gap: 10px;
}

header.ejercicio6 .imgcontainer img {
    max-width: 100px;
    height: 100px;
    border: 2px dashed black;
}

header.ejercicio7 h1 {
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

 .travelContainer {
    display: flex;
 }

 .travel {
    width: 33.33%;
    padding: 5px;
 }

 .travelImg {
    max-width: 100%;
 }

 .travel:first-of-type{
    background-color: rgb(72, 129, 72);
 }

 .travel:nth-of-type(2) {
    background-color: rgb(51, 132, 207);
 }

 .travel:nth-of-type(3) {
    background-color: blueviolet;
 }

 .travelTitle {
    font-size: 25px;
    text-align: center;
 }

 .travelDescription {
    font-size: 12px;
    text-align: justify;
 }

 header.header {
    background-color: greenyellow;
    
 }

 figure.logo {
    display: flex;
    justify-content: center;
    margin: 0;
 }

 figure.logo img{
    max-width: 150px;
 }

 body {
    margin: 0;
    padding: 0;
 }

 nav.menu {
    background-color: rgb(58, 133, 58);
    padding: 5px;
 }

 nav.menu ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
    gap: 10px;

 }

 nav.menu ul a {
    color: white;
    text-decoration: underline;
    font-size: 20px;
 }

 nav.menu li+li:before {
    content: ' | ';
    color: white;
 }

 section.hero img{
    max-width: 100%;
 }

 article.bookingoption {
    padding: 10px;
    border: 5px solid black;
    margin-bottom: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
 }

 article.bookingoption h2 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
 }

 section.hero {
    margin-bottom: 30px;
 }